<!DOCTYPE HTML>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div style="font-family: 'Roboto'; font-weight: 900; font-size: 200px; position: fixed; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; transform: translateY(-100px);">404</div>
    <div style="position: fixed; font-family: sans-serif; display: inline-block; left: 50vw; top: 50vh; transform: translateX(-50%) translateY(64px); font-size: 30px;">Maybe you would like to<button style="background: transparent; border: none; font-size: 30px; cursor: pointer; font-weight: bold; color: red;" onclick="history.go(-1)">go back?</button></div>
  </body>
</html>