{% extends "main_styles.html" %}

{% block title %}
Start a Thread
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 15vh; padding-bottom: 5vh;">
<form action="/post.html" method="post" enctype="multipart/form-data">
    <div class="container d-flex justify-content-center align-items-center mt-3">
    <input autocomplete="off" type="text" name="topic" placeholder="Thread Title" style="min-width: 615px; min-height: 30; color: white; width: 615px; background-color: rgb(45, 50, 70);">
    </div>
    <div class="container d-flex justify-content-center align-items-center mt-3">
    <textarea rows="10" cols="70" wrap="hard" name="content" placeholder="What would you like to post?" maxlength="500" style="min-width: 610px; min-height: 246px; color: white; background-color: rgb(35, 40, 60);"></textarea>
    </div>
    <!--
    <div class="container d-flex mt-3 justify-content-center align-items-center" style="position: relative; left: -190px;">
    <label for="file" style="color: rgb(215, 215, 230)">Attach an image? (optional) &#20 &#20</label>
    </div>
    <div class="container d-flex mt-1 justify-content-center align-items-center" style="position: relative; left: -131px; ">
    <input id="file" type="file" name="upload" style="color: white;">   
    </div> 
    -->
    <div class="container d-flex justify-content-center align-items-center mt-4">
    <button class="btn btn-info text-dark" type="submit">Create Thread</button>
    </div>
    <div class="container d-flex justify-content-center align-items-center mt-5">
    <a href="/home.html">Go Back</a>
    </div>
</form>

</div>
{% endblock %}